
<body style="background-size: cover; background-image: url('/images/completeRegister.jpg'); background-repeat: no-repeat; object-fit: cover;">
<div class="row justify-content-center align-items-center" style="height: 100vh; ">
    <div class="col-md-6">
        <div class="alert alert-success shadow-lg" role="alert">
            <h2 class="alert-heading text-center">Your account was created successfully</h2>
            <p class="text-center">You can now log in to your account using your credentials.</p>
            <hr />
            <p class="mb-0 text-center">Thank you!</p>
        </div>
    </div>
</div>
</body>
